:root {
    --blanco: #ffffff;
    --verdeClaro:#57BC90;
    --verdeOscuro:#015249;
    --azulClaro:#77C9D4;
    --gris:#A5A5AF;
    --negro:#000000;
    --footer:#015249;
    --otroColor:#109B80;
    --ancho:600px;
}
html {
    box-sizing: border-box;
    /* Tamaño base para la fuente a 10px */
    font-size: 62.5%;
    max-width: 160%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.encabezado{
    text-align: center;
    background-image: url(../img/medio-ambiente-e1454903239447.jpeg);
    
}
.encabezado h1{
    padding:10px;
    color:var(--blanco);
}
/*Definiendo las propieddes de estilo de la barra de navegación*/
nav{
    margin-top: 1px;
    text-align:Center;
    padding:  10px;
}

.menu{
    background-color: var(--verdeClaro);
}
.menu a{
    text-decoration: none;
    color: var(--blanco);
    padding: 5px 15px;
    display:block;
}
@media (min-width: 550px) {
    .menu a{
        display:inline;
    }
}
.menu a:hover{
    color:var(--verdeOscuro)
}

main{
    display: grid;
    justify-content: center;
    grid-template-columns: 1;
    grid-template-rows: 8;
    grid-gap: 1rem;
    padding:10px;
}
@media  (min-width:550px) {
    main{
        display: grid;
        justify-content: center;
        grid-template-columns: 2;
        grid-template-rows: 8;
        grid-gap: 1rem;
        padding:10px;
    }
}

h1,h2{
    text-align: center;
}

.contenidoPrincipal{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background-color: var(--azulClaro);
    padding:10px;
    border-radius: 2%;
}
@media  (min-width:550px) {
    .contenidoPrincipal{
        grid-row: 1 / 8;
        grid-column: 1 / 3;
        background-color: var(--azulClaro);
        padding:10px;
        border-radius: 2%;
    }
}

.contenidoPrincipal p {
    text-align: justify;
    font-size: 12px;
}
.contenidoPrincipal img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display:block;
    margin:auto;
}

.hipervinculos{
    background-color: var(--otroColor);
    
    border-radius: 2%;
    grid-row: 4 / 6;
    grid-column: 1 / 2;  
}
@media  (min-width: 550px) {
    .hipervinculos{
        grid-row: 1 / 4;
        grid-column: 3 / 4;  
    }
}
.hipervinculos a{
    color:var(--negro);
    
    padding:5px;
}
.hipervinculos a:hover{
    color:var(--blanco);
}
.otros a{
   
    display:flex;
    flex-direction: row;
    text-decoration: none;
}

.articulos{
    border-radius: 2%;
    background-color: var(--verdeClaro);
    grid-row: 6 / 8;
    grid-column: 1 / 2;
    padding: 10px;
}
@media  (min-width: 550px) {
    .articulos{
        grid-row: 4 / 8;
        grid-column: 3 / 4;
    }
}

.articulos a{
    
    background-color: var(--verdeOscuro);
    color:var(--blanco);
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 200px;
    margin-right: 10px;
}
footer{
    background-color: var(--footer);
    color:var(--blanco);
    padding: 10px ;
}

footer p{
    text-align: center;
    padding:10px;
}
.opciones-footer{
    text-align: left;
    margin-left:10%;
}
.opciones-footer a{
    display:block;
    text-decoration: none;
    margin-right: 1%;
    color: #ffffff;
}
.opciones-footer a:hover{
    color: var(--verdeClaro);
}
@media (min-width: 550px) {
 
    .opciones-footer a{
        display:inline;
    }
}
